<p>{{ product | json }}</p>
{% for variant in product.variants %}
  {% assign variant_title = variant.title | downcase %}
  {% if variant_title contains 'single' and pair_type == 'single' %}
    <h5>{{ variant_title }}</h5>
    <p>{{ variant.price }}</p>
  {% elsif variant_title contains 'pair' and pair_type == 'pair' %}
    <h5>{{ variant_title }}</h5>
    <p>{{ variant.price }}</p>
  {% endif %}
{% endfor %}
