{% comment %}
  Required values
  product: <object>
  ______________
  Optional values
  price_box_title: <string>
  discount_amount: <string>
  qualifier: <string>
  pair_type: <string>
{% endcomment %}

{% assign price_box_title = price_box_title | default: 'Limited' %}

{% comment %}
  Takes "discount_amount" and converts it from a <string> dollar value to a float <number>.
  Then converts "product.price" to the same type so math can be performed.
  Finally, takes the total and converts it to money <string> again.
  {{ product.price | divided_by: 100 }} | {{ discount_amount }} | {{ discount_amount_number }} | {{ discounted_price }}
{% endcomment %}

{% assign discount_amount_number = discount_amount | remove: '$' | plus: 0.0 %}

{% if pair_type == 'pair' %}
  {% assign discount_amount_number = discount_amount_number | times: 2 %}
{% endif %}

{% assign product_price = product.price | remove: '$' | divided_by: 100 %}
{% assign discounted_price = product_price | minus: discount_amount_number | times: 100 | money %}

<div id="price-box">
  {% if price_box_title %}
    <p id="price-box-title">{{ price_box_title }}</p>
  {% endif %}

  <span id="price-box-inner">
    {% if custom_price != blank %}
      <h3 id="price-box-compare">{{ product.compare_at_price | money }}</h3>
      <h2 id="price-box-price">{{ custom_price | plus: 0.0 | money }}</h2>
    {% else %}
      <h3 id="price-box-compare">{{ product.compare_at_price | money }}</h3>
      <h2 id="price-box-price">{{ discounted_price }}</h2>
    {% endif %}
  </span>

  {% if qualifier %}
    <p>{{ qualifier }}</p>
  {% endif %}

  {% if pair_type == 'pair' %} x2 {% endif %}
</div>
