{% comment %}
  Required values
  product: <object>
  ______________
  Optional values
  price_box_title: <string>
  discount_amount: <number>
  qualifier: <string>
{% endcomment %}

{% assign price_box_title = price_box_title | default: "Limited" %}
        
{% assign discount_amount_number = section.settings.discount_amount | remove: "$" | plus: 0.0  %}
{% assign product_price = product.price | remove: "$" | divided_by: 100  %}
{% assign discounted_price = product_price | minus: discount_amount_number %}

<div id="price-box">
  {% if price_box_title %}
    <p id="price-box-title">{{ price_box_title }}</p>
  {% endif %}
  
  <span id="price-box-inner">
    {% if custom_price %}
      <h3 id="price-box-compare">{{ product.compare_at_price | money }}</h3>
      <h2 id="price-box-price">{{ custom_price | money }}</h2>
    {% else %}
      <h3 id="price-box-compare">{{ product.compare_at_price | money }}</h3>
      <h2 id="price-box-price">{{ discounted_price | money }}</h2>
    {% endif %}
  </span>
  
  {% if qualifier %}
    <p>{{ qualifier }}</p>
  {% endif %}
</div>