{% comment %} Product Description Tabs {% endcomment %}

{% comment %} Product Description MetaFields {% endcomment %}
{% assign product_description = product.metafields.proddesc.description %}
{% assign description_title = product.metafields.proddesc.description_title %}
{% assign size_comparison = product.metafields.proddesc.size_comparison %}
{% assign technical_information = product.metafields.proddesc.technical_information.value %}
{% assign tech_info = product.metafields.proddesc.tech_info %}
{% assign box_image = product.metafields.proddesc.box_image %}
{% assign product_accessories = product.metafields.proddesc.box_list.value %}
{% assign youtube = product.metafields.proddesc.product_video %}

{% comment %} Section Specific CSS {% endcomment %}
{% style %}
  .tab-header {
    flex: 1 1 0%;
    color: #fdfdfd;
    font-family: var(--pf-primary-font);
    display: flex;
    flex-direction: row;
  }

  .button-item {
    background-color: var(--f-fall);
    background-color: var(--f-ok);
    border-style: none;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: row;
    flex: 1 1 0%;
    margin: 0 0.05rem;
  }

  .button-item a {
    color: #fdfdfd;
    font-family: var(--pf-primary-font);
    font-weight: 700;
    font-size: 18px;
    padding: 16px;
    border-style: none;
    text-decoration: none;
  }

  .button-item:hover,
  .button-item.active {
    background-color: var(--p-fall);
    background-color: var(--p-ok);
    color: #fff;
  }

  .button-item:not(:last-of-type) a {
    border-right: 0;
  }

  [id^="section-"] {
    display: none;
    padding: var(--global-p2);
    flex-direction: column;
  }

   #tabs h2, #tabs h3, #tabs h4 {
    padding: var(--global-p1) 0;
    font-weight: 700;
  }

  .active {
    display: flex;
  }

  #comparison-products {
    display: flex;
    padding: var(--global-p1) 0;
  }

  .similar-product {
    display: flex;
    flex: 1;
    margin: var(--global-p1);
  }

  .similar-product a {
    display: flex;
    flex-direction: column;
  }

  .similar-product h4 {
    font-size: x-large;
    padding-top: var(--global-p1);
  }

  .similar-product h5 {
    font-size: larger;
    font-weight: 500;
    padding-bottom: var(--global-p1);
  }

  table {
    border-radius: var(--global-p2);
  }

  td,
  th {
    padding-left: var(--global-p1);
    padding-right: var(--global-p1);
    text-align: left;
  }

  table tr:nth-child(even) {
    background-color: var(--light-blue-fall);
    background-color: var(--light-blue-ok);
  }

  table tr:last-child td:first-child {
    border-radius: 0 0 0 var(--global-p2);
  }

  table tr:last-child td:last-child {
    border-radius: 0 0 var(--global-p2) 0;
  }

  table tbody tr {
    border: none;
  }

  .video-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  figure.image-element__wrap {
    align-self: center;
  }

  @media only screen and (max-width: 768px) {
    #section-content-4 img-tbl {
      grid-template-columns: 1fr;
      grid-template-areas: "left" "right";
    }
  }
{% endstyle %}

{% comment %} HTML markup {% endcomment %}
<div id="tabs" class="tab-content section">
  <div class="tab-header">
    <button class="button-item"><a href="#section-1">Description</a></button>
    <button class="button-item"><a href="#section-2">Warranty</a></button>
    <button class="button-item"><a href="#section-3">Compare</a></button>
    <button class="button-item"><a href="#section-4">Size</a></button>
    <button class="button-item"><a href="#section-5">What's in the Box</a></button>
  </div>

  <div id="section-1" class="tab-content active">
    <h2>{{ description_title }}</h2>
    <p>{{ product_description }}</p>
  </div>

  <div id="section-2" class="tab-content">
    <h2>{{ product.title }} 6-Month Limited Warranty</h2>
    <p>
      Your {{ product.title }} hearing aid comes with a 6-month limited warranty and your order will include a storage
      case, USB Charging Cable, and a care kit: an $85 value, absolutely free to you!
    </p>
    <p>
      If you want an inexpensive hearing aid that’s effective and easy to use, the {{ product.title }} is a perfect
      choice.
    </p>
    <p>Warranty Included: 6 Month Limited Warranty and 30 Day Money Back Guarantee – Risk-Free!</p>
    <figure
      title="{{ images['puppy_warranty.jpg'].alt }}"
      data-pf-type="Image"
      style="display: flex; padding: 1em; align-content: center; flex-direction: column; flex-wrap: wrap;"
    >
      {% include 'image-element', image: images.['puppy_warranty.jpg'], alt: images.['puppy_warranty.jpg'].alt %}
    </figure>
  </div>

  <div id="section-3" class="tab-content">
    <h2>Compare Our Top Rechargeable Hearing Aids</h2>
    <div id="comparison-products" style="flex-direction:row;">
      {% for product in collections.all.products limit: 3 %}
        <div class="similar-product">
          <a href="{{ product.url }}">
            {% include 'image-element', image: product.featured_image.src, alt: product.title %}
            <h4>{{ product.title }}</h4>
            <h5>{{ product.price | money }}</h5>
            {% if product.metafields.proddesc.technical_information.value %}
              <table>
                <tbody>
                  {% for key_value in product.metafields.proddesc.technical_information.value %}
                    {% assign kv_pair = key_value | split: ',' %}
                    {% assign key = kv_pair[0] | split: ':' | last | remove: '"' | remove: '[' | remove: ']' | strip %}
                    {% assign value = kv_pair[1]
                      | split: ':'
                      | last
                      | remove: '"'
                      | remove: '['
                      | remove: ']'
                      | strip
                    %}
                    <tr>
                      <td>{{ key }}:</td>
                      <td>{{ value }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

  <div id="section-4" class="tab-content">
    <h2>Size Comparison & Technical Information</h2>

    <div style="display: flex; flex-direction: row;">
      <figure style="flex: 3;">
        {% if size_comparison %}
          {% include 'image-element', image: size_comparison, alt: size_comparison.alt, object_fit: true %}
        {% endif %}
      </figure>

      {% if technical_information %}
        <table>
          <tbody>
            {% for key_value in technical_information %}
              {% assign kv_pair = key_value | split: ',' %}
              {% assign key = kv_pair[0] | split: ':' | last | remove: '"' | remove: '[' | remove: ']' | strip %}
              {% assign value = kv_pair[1] | split: ':' | last | remove: '"' | remove: '[' | remove: ']' | strip %}
              <tr>
                <td>{{ key }}:</td>
                <td>{{ value }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>

  <div id="section-5" class="tab-content">
    <h2>What's in the Box</h2>

    <div style="display: flex; flex-direction: row;">
      {% if box_image -%}
        {%-
          include 'image-element' with {
          image: box_image,
          alt: box_image.alt,
          object_fit: true
          }
        %}
      {% endif %}

      {% if product_accessories %}
        <ul>
          {% if product_accessories.hearing_aid %}
            <li>{{ product_accessories.hearing_aid }}</li>
          {% endif %}
          {% if product_accessories.storage_case %}
            <li>Storage case</li>
          {% endif %}
          {% if product_accessories.manual.available %}
            {% if product_accessories.manual.link %}
              {% if product_accessories.manual.link.User %}
                <li><a href="{{ product_accessories.manual.link.User }}">User Manual</a></li>
              {% endif %}
              {% if product_accessories.manual.link.App != empty and product_accessories.manual.link.App != ' ' %}
                <li><a href="{{ product_accessories.manual.link.App }}">App Manual</a></li>
              {% endif %}
            {% else %}
              <li>Manual</li>
            {% endif %}
          {% endif %}

          {% if product_accessories.alcohol_wipe %}
            <li>Alcohol wipe</li>
          {% endif %}
          {% if product_accessories.different_sized_domes %}
            <li>Different sized domes</li>
          {% endif %}
          {% if product_accessories.tube %}
            <li>
              {% if product_accessories.tube.link %}
                <a href="{{ product_accessories.tube.link }}">{{ product_accessories.tube.type }}</a>
              {% else %}
                {{ product_accessories.tube.type }}
              {% endif %}
            </li>
          {% endif %}
          {% if product_accessories.tool.available %}
            <li>
              {% if product_accessories.tool.type %}
                {{ product_accessories.tool.type }}
              {% else %}
                Tool
              {% endif %}
            </li>
          {% endif %}
          {% if product_accessories.battery.available %}
            <li>
              {% if product_accessories.battery.type == 'single_use' %}
                Single-use battery ({{ product_accessories.battery.size }})
              {% else %}
                {{ product_accessories.battery.type }} battery ({{ product_accessories.battery.size }})
              {% endif %}
            </li>
          {% endif %}
        </ul>
      {% endif %}
    </div>
  </div>
</div>

{% comment %} Youtube Video {% endcomment %}

{% if product.metafields.proddesc.product_video %}
  {% assign youtube = product.metafields.proddesc.product_video %}
  {% if youtube != '' %}
    {% assign youtube_embed_url = youtube | replace: 'watch?v=', 'embed/' %}
    <div class="video-wrapper">
      <iframe
        width="560"
        height="315"
        src="{{ youtube_embed_url }}?controls=0"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  {% endif %}
{% endif %}

{% comment %} Section Specific JavaScript {% endcomment %}
<script>
  const tabHeaders = document.querySelectorAll(".button-item");
  const tabContents = document.querySelectorAll(".tab-content");

  tabHeaders.forEach((tabHeader) => {
    tabHeader.addEventListener("click", () => {
      const targetContent = document.querySelector(
        tabHeader.querySelector("a").getAttribute("href")
      );

      tabHeaders.forEach((header) => header.classList.remove("active"));
      tabContents.forEach((content) => content.classList.remove("active"));

      tabHeader.classList.add("active");
      targetContent.classList.add("active");
    });
  });

  const sectionLink = document.querySelector('.button-item');
  sectionLink.addEventListener('click', function(event) {
    event.preventDefault();
  });
</script>
