{% comment %}
  Required values
  variant: <string>
  ______________
  Optional values
  copy_title: <string>
  copy_description: <string>
  variant: <object>
  pair_type?: <string>
{% endcomment %}

{% if pair_type == 'individual' %}
  {% assign data_right_variant = rightVariant.id %}
  {% assign data_left_variant = leftVariant.id %}
  {% assign a_attribute = 'data-right-variant="'
    | append: data_right_variant
    | append: '" data-left-variant="'
    | append: data_left_variant
    | append: '" name="add"'
    | append: 'data-label="Add to cart"'
  %}
  {% assign a_class = 'add-pair-button' %}
{% endif %}

<a href="/cart/add?id={{ variant.id }}" id="add-{{ vaiant.vaiant.title }}" {{ a_attribute }} class="buy-product {{ a_class }}">
  {% render 'image-element' with
    image: variant.featured_image.src
    alt: variant.featured_image.alt
    figure_classes: "buy-image"
  %}

  <div class="buy-product-copy">
    {% if copy_title != blank %}
      {{ copy_title }}
    {% else %}
    <h3>{{ variant.title }}</h3>
    {% endif %}
    
    {% if copy_description != blank %}
      {{ copy_description }}
    {% else %}
      Add {{ variant.title }} to Cart
    {% endif %}
  </div>
</a>

{% style %}
  .buy-product {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "buy-image buy-product-copy";
    align-content: center;
    color: white;
    margin: 0;
    padding: 0;
    gap: var(--global-p1);
  }
  .buy-product form {
    align-items: center;
    justify-content: center;
  }
  .buy-image {
    grid-area: buy-image;
    overflow: visible;
  }
  figure.buy-image {
    width: 150% !important;
  }
  .buy-product-copy {
    grid-area: buy-product-copy;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 var(--global-p3);
  }
  .buy-product-copy h3 {
    color: inherit;
  }

  @media only screen and (max-width: 767px) {
    /* extra small devices */
  }

  @media only screen and (min-width: 768px) {
    /* small devices */
  }

  @media only screen and (min-width: 834px) {
    /* medium devices */
  }

  @media only screen and (min-width: 1024px) {
    /* large devices */
    }
{% endstyle %}
