<link rel="stylesheet" type="text/css" href="{{ 'ion.rangeSlider.min.css' | asset_url }}">
<script src="{{ 'ion.rangeSlider.min.js' | asset_url }}" async></script>

{% assign minLevel = info.hearing_levels[min].min %}
{% assign maxLevel = info.hearing_levels[max].max %}

<input type="text" class="hearing-levels">
{{ info.hearing_levels.profound.max.value }}

{% schema %}
{
  "name": "Hearing Levels",
  "tag": "div",
  "class": "slider-container",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_hearing_levels",
      "label": "Show Variants Section",
      "default": true
    },
    {
      "type": "header",
      "content": "Hearing Levels"
    }
  ],
  "presets": [
    {"name": "Hearing Levels"}
  ]
}
{% endschema %}

{% stylesheet %}
  .marks-container {
    position: relative;
    top: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .showcase__mark {
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .irs {
    font-size: unset;
    font-family: unset;
  }
  .irs-line {
    background-image: linear-gradient(
      90deg,
      hsl(203deg 91% 27%) 0%,
      hsl(186deg 78% 30%) 8%,
      hsl(169deg 64% 33%) 17%,
      hsl(152deg 51% 35%) 25%,
      hsl(120deg 64% 42%) 33%,
      hsl(89deg 77% 48%) 42%,
      hsl(57deg 90% 54%) 50%,
      hsl(52deg 91% 54%) 58%,
      hsl(47deg 92% 54%) 67%,
      hsl(41deg 92% 53%) 75%,
      hsl(27deg 90% 47%) 83%,
      hsl(12deg 88% 41%) 92%,
      hsl(358deg 85% 35%) 100%
    );
  }
  .irs--flat .irs-bar {
    top: 25px;
    height: 12px;
    background-color: black;
    filter: opacity(0.5);
  }
  .showcase__mark.normal {
    background: #065686;
  }
  .showcase__mark.slight {
    background: #22776f;
  }
  .showcase__mark.mild {
    background: #77a255;
  }
  .showcase__mark.moderate {
    background: #f3ea21;
  }
  .showcase__mark.moderately-severe {
    background: #f5c51b;
  }
  .showcase__mark.severe {
    background: #f6b21a;
  }
  .showcase__mark.profound {
    background: #a50d12;
  }
{% endstylesheet %}

{% javascript %}
  // Extracting hearing level names
  const hearingLevelNames = Object.keys(hearingLevels);

  const min = {{ minLevel }};
  const max = {{ maxLevel }};
  const marks = hearingLevelNames;

  $(".slider-container").ionRangeSlider({
    type: "double",
    min: info.hearing_levels.normal.min,
    max: info.hearing_levels.profound.max,
    from: min,
    to: max,
    grid: true,
    grid_snap: true,
    from_fixed: true,
    to_fixed: true,
    max_postfix: "+",
    postfix: " dB",
    hide_min_max: false,
    hide_from_to: false,
    block: false,
    onStart: function (data) {
      addMarks(data.slider);
    },
  });
  // console.log(hearingLevelNames);

  function convertToPercent(num) {
    return ((num - min) / (max - min)) * 100;
  }

  function addMarks($slider) {
    let html = "";
    let left = 0;
    let left_p = "";
    let i;

    // Create a div to contain the spans
    html += '<div class="marks-container">';

    for (i = 0; i < marks.length; i++) {
      left = convertToPercent(hearingLevels[marks[i]].min); // Use the min value from hearingLevels
      left_p = left + "%";

      let className =
        "showcase__mark " + marks[i].toLowerCase().replace(" ", "-");

      html += '<span class="' + className + '" style="left: ' + left_p + '">';
      html += marks[i];
      html += "</span>";
    }

    // Close the marks-container div
    html += "</div>";

    $slider.append(html);
  }
{% endjavascript %}
