<script src="{{ 'addPair.js' | asset_url }}" defer></script>
{% assign section_name = section.settings.section_name | replace: ' ', '-' | downcase | default: 'variant' %}
{% assign container_class = 'section' | append: ' is-width-' | append: section.settings.width %}
{% assign product = section.settings.product %}

{% if section.settings.show_variants %}
  <div id="variant-section" class="{{ container_class }}">
  <span id="{{ section_name }}-anchor"></span>
  
  {% if section.settings.show_section_header %}
    {{ section.settings.section_title }}
    {{ section.settings.instructions }}
    {%
      include 'product_header' with
      show_product_title: section.settings.show_product_title,
      show_reviews: section.settings.show_reviews,
      show_header_text: section.settings.show_header_text,
      header_title: section.settings.header_title,
      header_copy: section.settings.header_copy,
      section_name: section_name,
      class: container_class
    %}
  {% endif %}

  <div id="{{ section_name }}-container" class="card-container">
      {% assign leftVariant = null %}
      {% assign pairVariant = null %}
      {% assign rightVariant = null %}

      {% for variant in product.variants %}
        {% assign variantTitle = variant.title | downcase %}
        {% if variantTitle contains 'left' %}
          {% assign leftVariant = variant %}
        {% elsif variantTitle contains 'pair' %}
          {% assign pairVariant = variant %}
        {% elsif variantTitle contains 'right' %}
          {% assign rightVariant = variant %}
        {% endif %}
      {% endfor %}

      {% if leftVariant %}
        {% assign button_label = 'Add ' | append: leftVariant.title | append: ' to Cart' %}
        {%
          include 'product-card'
          show_product_description: false,,
          custom_product: leftVariant,
          button_label: button_label,
          button_class: "button--add-to-cart action_button--secondary",
          button_style: section.settings.button_style,
          button_type: 'submit',
          button_attribute: 'data-label="Add to cart" name="add"',
          button_cart: true
        %}
      {% endif %}

      {% if pairVariant %}
        {% assign button_label = 'Add ' | append: pairVariant.title | append: ' to Cart' %}
        {% assign pair_type = section.settings.pair_type %}
        {% if pair_type == 'individual' %}
          {% assign data_right_variant = rightVariant.id %}
          {% assign data_left_variant = leftVariant.id %}
          {% assign button_attribute = 'data-right-variant="'
            | append: data_right_variant
            | append: '" data-left-variant="'
            | append: data_left_variant
            | append: '" name="add"'
            | append: 'data-label="Add to cart"'
          %}
          {% assign button_class = 'button--add-to-cart action_button--secondary add-pair-button' %}
        {% else %}
          {% assign button_attribute = 'data-label="Add to cart" name="add"' %}
          {% assign button_class = 'button--add-to-cart action_button--secondary' %}
        {% endif %}
      
        {%
          include 'product-card'
          show_product_description: false,,
          custom_product: pairVariant,
          button_label: button_label,
          button_class: button_class,
          button_style: section.settings.button_style,
          button_type: 'submit',
          button_attribute: button_attribute,
          button_cart: true
        %}
      {% endif %}

      {% if rightVariant %}
        {% assign button_label = 'Add ' | append: rightVariant.title | append: ' to Cart' %}
        {%
          include 'product-card'
          show_product_description: false,,
          custom_product: rightVariant,
          button_label: button_label,
          button_class: "button--add-to-cart action_button--secondary",
          button_style: section.settings.button_style,
          button_type: 'submit',
          button_attribute: 'data-label="Add to cart" name="add"',
          button_cart: true
        %}
      {% endif %}
    </div>
    
    <footer class="is-width-{{ section.settings.width }} {{ section_name }}-footer">
      {% if section.settings.show_product_description %}
        <div class="product-description">
          {{ product.content }}
        </div>
      {% endif %}
  
      {% if section.settings.show_trust_badges %}
        {% include 'trust-badges' %}
      {% endif %}
    </footer>
  </div>
{% endif %}

{% schema %}
{
  "name": "Variants",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_variants",
      "label": "Show Variants Section",
      "default": true
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wide",
      "options": [
        {
          "value": "half",
          "label": "Half"
        },
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section Header"
    },
    {
      "type": "checkbox",
      "id": "show_section_header",
      "label": "Show Section Header",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_header_text",
      "label": "Show Header Copy",
      "default": true
    },
    {
      "type": "text",
      "id": "header_title",
      "label": "Variant Title",
      "default": "Flexible Purchase Options"
    },
    {
      "type": "richtext",
      "id": "header_copy",
      "label": "Variant Copy",
      "default": "<p>Just click the option that works for you and you will be taken directly to checkout so you can apply your coupon code and get the hearing aid(s) you need!</p>"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "header",
      "content": "Section Header"
    },
    {
      "type": "header",
      "content": "Product Card Options"
    },
    {
      "type": "radio",
      "id": "pair_type",
      "label": "Pair Type",
      "default": "individual",
      "options": [
        {
          "value": "individual",
          "label": "Individual"
        },
        {
          "value": "pair",
          "label": "Pair"
        }
      ],
      "info": "When clicking the 'Add to Cart', the 'Individual' option adds both a Left and a Right hearing aids separately, while the 'Pair' option adds as a single item."
    },
    {
      "type": "header",
      "content": "Section Footer"
    },
    {
      "type": "checkbox",
      "id": "show_product_description",
      "label": "Show Product Description",
      "default": true
    }
  ],
  "presets" : [{
    "name": "Blue Wave Variants"
  }]
}
{% endschema %}

<style>
  #shopify-section-{{ section.id }} {
    display: flex;
    justify-content: center;
  }
  .{{section_name}}-header h2 {
    font-size:  calc(var(--text-basic)*({{ section.settings.header_font_size }} / 10));
  }
    
    @media only screen and (max-width: 767px) {
      #variant {
        width: 90%;
        gap: calc({{ section.settings.gap_spacing }}rem * 3);
      }
    }

    @media only screen and (min-width: 768px) {
      #variant {
        width: 85%;
        gap: calc({{ section.settings.gap_spacing }}rem * 3);
      }
    }
    
    @media only screen and (min-width: 1024px) {
      #variant {
        width: 80%;
      }
    }
</style>

{% style %}
  #variant-container {
    margin: var(--global-p2) 0;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: {{ settings.gap_spacing }}rem;
    padding: var(--global-p1);
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .card img {
    width: 100%;
    height: auto;
  }
  form[id^="product-form-"] {
    display: flex;
    width: 100%;
  }
  [data-label="Add to cart"] {
    bottom: calc(var(--global-p1) * -1);
    margin-top: var(--global-p1);
    padding: var(--global-p1);
  }

  @media only screen and (max-width: 767px) {
    #variant-container {
      grid-template-columns: 1fr;
      gap: calc({{ settings.gap_spacing }}rem * 4);
      padding:0;
    }
  }

  @media only screen and (min-width: 768px) {
    .card-container {
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
    [data-label="Add to cart"] {
      font-size: calc(var(--text-basic) - 25%);
    }
  }

  @media only screen and (min-width: 1024px) {
    #variant {}
    .card-container {
      grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
    }
    [data-label="Add to cart"] {
      font-size: calc(var(--text-basic) - 5%);
    }
  }
{% endstyle %}
