{% assign product = section.settings.product %}

{% if section.settings.show_variants %}
    <h2>{{ section.settings.section_title }}</h2>
    <p>{{ section.settings.instructions }}</p>
    <div id="variant-container" class="card-container">
      {% assign leftVariant = null %}
      {% assign pairVariant = null %}
      {% assign rightVariant = null %}

      {% for variant in product.variants %}
        {% assign variantTitle = variant.title | downcase %}
        {% if variantTitle contains 'left' %}
          {% assign leftVariant = variant %}
        {% elsif variantTitle contains 'pair' %}
          {% assign pairVariant = variant %}
        {% elsif variantTitle contains 'right' %}
          {% assign rightVariant = variant %}
        {% endif %}
      {% endfor %}

      {% if leftVariant %}
        <div class="card">
          <img
            src="{{ leftVariant.featured_image.src | img_url: 'original' }}"
            loading="lazy"
            alt="{{ leftVariant.featured_image.alt }}"
            width="{{ leftVariant.featured_image.width }}"
            height="{{ leftVariant.featured_image.height }}"
          >
          <form action="/cart/add" method="post" id="product-form-{{ leftVariant.id }}">
            <input type="hidden" name="id" value="{{ leftVariant.id }}">
            <button
              type="submit"
              name="add"
              class="button button--add-to-cart action_button--secondary"
              data-label="Add to cart"
            >
              Add {{ leftVariant.title }} to Cart
            </button>
          </form>
        </div>
      {% endif %}

      {% if pairVariant %}
        <div class="card">
          <img
            src="{{ pairVariant.featured_image.src | img_url: 'original' }}"
            loading="lazy"
            alt="{{ pairVariant.featured_image.alt }}"
            width="{{ pairVariant.featured_image.width }}"
            height="{{ pairVariant.featured_image.height }}"
          >
          <button
            id="add-pair"
            class="button button--add-to-cart action_button--secondary add-pair-button"
            data-left-variant="{{ leftVariant.id }}"
            data-right-variant="{{ rightVariant.id }}"
            data-label="Add to cart"
          >
            Add Pair to Cart
          </button>
        </div>
      {% endif %}

      {% if rightVariant %}
        {% assign button_label = 'Add ' | append: rightVariant.title | append: ' to Cart' %}
        {%
          include 'product-card'
          show_product_description: false,,
          custom_product: rightVariant,
          button_label: button_label,
          button_class: "button--add-to-cart action_button--secondary",
          button_style: section.settings.button_style,
          button_type: 'submit',
          button_attribute: 'data-label="Add to cart" name="add"',
          button_cart: true
        %}
      {% endif %}
    </div>
    
    <footer class="is-width-{{ section.settings.width }} {{ section_name }}-footer">
      {% if section.settings.show_product_description %}
        <div class="product-description">
          {{ product.content }}
        </div>
      {% endif %}
  
      {% if section.settings.show_trust_badges %}
        {% include 'trust-badges' %}
      {% endif %}
    </footer>
{% endif %}

{% schema %}
{
  "name": "Variants",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_variants",
      "label": "Show Variants Section",
      "default": true
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Variant Title",
      "default": "Flexible Purchase Options"
    },
    {
      "type": "richtext",
      "id": "instructions",
      "label": "Variant Copy",
      "default": "<p>Just click the option that works for you and you will be taken directly to checkout so you can apply your coupon code and get the hearing aid(s) you need!</p>"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "header",
      "content": "Product Card Options"
    },
    {
      "type": "radio",
      "id": "pair_type",
      "label": "Pair Type",
      "default": "individual",
      "options": [
        {
          "value": "individual",
          "label": "Individual"
        },
        {
          "value": "pair",
          "label": "Pair"
        }
      ],
      "info": "When clicking the 'Add to Cart', the 'Individual' option adds both a Left and a Right hearing aids separately, while the 'Pair' option adds as a single item."
    }
  ],
  "presets" : [{
    "name": "Blue Wave Variants"
  }]
}
{% endschema %}

{% style %}
  #variant-container {
    margin: var(--global-p2) 0;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: {{ settings.gap_spacing }}rem;
    padding: var(--global-p1);
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .card img {
    width: 100%;
    height: auto;
  }
  form[id^="product-form-"] {
    display: flex;
    width: 100%;
  }
  [data-label="Add to cart"] {
    bottom: calc(var(--global-p1) * -1);
    margin-top: var(--global-p1);
    padding: var(--global-p1);
  }

  @media only screen and (max-width: 767px) {
    #variant-container {
      grid-template-columns: 1fr;
      gap: calc({{ settings.gap_spacing }}rem * 4);
      padding:0;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .card-container {
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
    [data-label="Add to cart"] {
      font-size: calc(var(--text-basic) - 25%);
    }
  }

  @media only screen and (min-width: 1024px) and (max-width: 1439px) {
    #variant {}
    .card-container {
      grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
    }
    [data-label="Add to cart"] {
      font-size: calc(var(--text-basic) - 5%);
    }
  }
{% endstyle %}
