{% assign product = section.settings.product -%}
{% if section.settings.show_buy_bar %}
  <div id="buy-bar">
    <div id="buy-bar-container" class="product-container">
      {% assign leftVariant = null %}
      {% assign pairVariant = null %}
      {% assign rightVariant = null %}

      {% for variant in product.variants %}
        {% assign variantTitle = variant.title | downcase %}
        {% if variantTitle contains 'left' %}
          {% assign leftVariant = variant %}
        {% elsif variantTitle contains 'pair' %}
          {% assign pairVariant = variant %}
        {% elsif variantTitle contains 'right' %}
          {% assign rightVariant = variant %}
        {% endif %}
      {% endfor %}

      {% if leftVariant %}
        {%
          include 'product-tile'
          variant: leftVariant
          copy_description: section.settings.copy_description
          copy_title: section.settings.copy_title_left
        %}
      {% endif %}

      {% if pairVariant %}
        {%
          include 'product-tile'
          variant: pairVariant
          copy_description: section.settings.copy_description
          copy_title: section.settings.copy_title_pair
        %}
      {% endif %}

      {% if rightVariant %}
        {%
          include 'product-tile'
          variant: rightVariant
          copy_description: section.settings.copy_description
          copy_title: section.settings.copy_title_right
        %}
      {% endif %}
    </div>
  </div>
  
  <style>
    #shopify-section-{{ section.id }} {
      display: flex;
      justify-content: center;
      margin: 3rem 0;
      background-color: {{ section.settings.background_color }};
    }
    
    @media only screen and (max-width: 767px) {
      #buy-bar {
        width: 90%;
        gap: calc({{ section.settings.gap_spacing }}rem * 3);
      }
    }

    @media only screen and (min-width: 768px) {
      #buy-bar {
        width: 85%;
        gap: calc({{ section.settings.gap_spacing }}rem * 3);
      }
    }
    
    @media only screen and (min-width: 1024px) {
      #buy-bar {
        width: 80%;
      }
    }
  </style>
{% endif %}

{% javascript %}
{% endjavascript %}

{% style %}
  #shopify-section-{{ section.id }} {
    display: flex;
    justify-content: center;
    margin: 3.5rem 0;
  }
  [aria-disabled] {
    pointer-events: none;
    opacity: 0.5;
  }
  #buy-bar {
    padding: var(--global-p1) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    align-content: center;
  }

  @media only screen and (max-width: 767px) {
    /* extra small devices */
    .product-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: var(--global-p1);
      justify-content: center;
      height: auto;
    }
  }

  @media only screen and (min-width: 768px) {
    /* small devices */
    #buy-bar {
      height: 80px;
    }
  }
  @media only screen and (min-width: 834px) {
    /* medium devices */
  }
{% endstyle %}

{% schema %}
{
  "name": "Buy Bar",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_buy_bar",
      "label": "Show Buy Bar",
      "default": true
    },
    {
      "type": "range",
      "id": "gap_spacing",
      "label": "Gap",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 2
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#054f8e"
    },
    {
      "type": "text",
      "id": "copy_title_left",
      "label": "Left Title",
      "default": "Left Side Only"
    },
    {
      "type": "text",
      "id": "copy_title_pair",
      "label": "Pair Title",
      "default": "Get the Pair"
    },
    {
      "type": "text",
      "id": "copy_title_Right",
      "label": "Right Title",
      "default": "Right Side Only"
    },
    {
      "type": "richtext",
      "id": "copy_description",
      "label": "Call to Action",
      "default": "<p>add to cart</p>"
    }
  ],
  "presets" : [{
    "name": "Blue Wave Buy Bar"
  }]
}
{% endschema %}
