{% assign bg_image = section.settings.background_image | img_url: 'master' %}
<script src="{{ 'addPair.js' | asset_url }}" defer></script>

{% assign section_name = section.settings.section_name | replace: ' ', '-' | downcase | default: 'variant' %}
{% assign container_class = 'section' | append: ' is-width-' | append: section.settings.width %}

{% if section.settings.show_section %}
  <div id="mast-container" class="{{ container_class }}">
    <span id="empty"></span>
    <div id="intro">
      <div id="page-title">
        <h1>{{ section.settings.title }}</h1>
        {% if section.settings.qualifier %}
          <p id="qualifier">{{ section.settings.qualifier }}</p>
        {% endif %}
      </div>

      {% if section.settings.description != blank %}
        <div id="intro-copy">
          {{ section.settings.description }}
        </div>
      {% endif %}

      {% render 'video' %}
      {% if section.blocks.size > 0 %}
        {% assign headerImage = section.blocks[0].settings.header_image %}
        {% if headerImage %}
          {% render 'image-element' with image: headerImage %}
        {% endif %}
      {% endif %}
    </div>

    {% if section.settings.show_product %}
      {% assign product = section.settings.product %}
      {{ product | json }}
      {{ section.settings.pair_type | json }}

      {% assign product_variant = null %}
      {% assign single_variant = null %}
      {% assign pair_variant = null %}

      {% for variant in product.variants %}
        {% assign variant_title_lowercase = variant.title | downcase %}
        <p>Variant Title: {{ variant.title }}</p>
        {# Add this line for debugging #}
        {% if variant_title_lowercase contains 'single' %}
          {% assign single_variant = variant %}
        {% elsif variant_title_lowercase contains 'pair' %}
          {% assign pair_variant = variant %}
        {% endif %}
      {% endfor %}

      <p>Single Variant: {{ single_variant | json }}</p>
      {# Add this line for debugging #}
      <p>Pair Variant: {{ pair_variant | json }}</p>
      {# Add this line for debugging #}

      {% if section.settings.pair_type == 'single' and single_variant != null %}
        {% assign product_variant = single_variant %}
      {% elsif pair_variant != null %}
        {% assign product_variant = pair_variant %}
      {% endif %}

      {{ product_variant | json }}

      <div id="product">
        <figure id="product-image">
          {% if section.settings.product_image %}
            {%
              render 'image-element' with
              image: product_variant.product_image,
              alt: product_variant.product_image.alt
            %}
          {% else %}
            {%
              render 'image-element' with
              image: product_variant.featured_image,
              alt: product_variant.featured_image.alt
            %}
          {% endif %}
        </figure>

        {%
          render 'price_box' with
          product: product_variant,
          price_box_title: section.settings.price_box_title,
          discount_amount: section.settings.discount_amount,
          qualifier: section.settings.qualifier,
          custom_price: section.settings.custom_price,
          pair_type: section.settings.pair_type
        %}
      </div>
    {% else %}
      <figure id="featured-image">
        {%
          render 'image-element' with
          image:  section.settings.product_image,
          alt: product.alt
        %}
      </figure>
    {% endif %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Landing Page Mast",
  "tag": "section",
  "class": "landing-mast",
  "limit": 1,
  "max_blocks": 1,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_section",
      "label": "Show Section",
      "default": true
    },
    {
      "type": "header",
      "content": "Section Settings",
      "info": "general section settings"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "qualifier",
      "label": "Qualifier"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "header",
      "content": "Product",
      "info": "Promotional Product"
    },
    {
      "type": "checkbox",
      "id": "show_product",
      "label": "Show Product",
      "default": true
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "select",
      "id": "pair_type",
      "label": "Pricing",
      "options": [
        {
          "value": "pair",
          "label": "Pair"
        },
        {
          "value": "single",
          "label": "Single"
        }
      ],
      "default": "single"
    },
    {
      "type": "image_picker",
      "id": "product_image",
      "label": "Product Image",
      "info": "Optional product image."
    },
    {
      "type": "header",
      "content": "Price Box",
      "info": "Information in the green price box"
    },
    {
      "type": "text",
      "id": "price_box_title",
      "label": "Price Box Title",
      "default": "Now on Sale",
      "info": "Title in the green box"
    },
    {
      "type": "text",
      "label": "Discount Amount",
      "id": "discount_amount",
      "default": "50",
      "info": "Enter the discount amount."
    },
    {
      "type": "text",
      "label": "Custom Amount",
      "id": "custom_price",
      "info": "Enter a custom price, this will over ride discount amount."
    }
    ],
  "blocks": [
  {
    "type": "image",
    "name": "header_image",
    "limit": 1,
    "settings": [
      {
        "type": "image_picker",
        "id": "header_image",
        "label": "Header Image"
        }
      ]
    },
    {
      "name": "Shopify Hosted Video",
      "type": "video-stored",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "A Shopify-hosted video"
        },
        {
          "type": "checkbox",
          "id": "controls",
          "label": "Show controls",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "autoplay",
          "label": "Autoplay",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "mute",
          "label": "Mute",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "download",
          "label": "Allow download",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "loop",
          "label": "Loop",
          "default": true
        }
      ]
    },
    {
      "name": "External Video",
      "type": "external-video",
      "settings": [
        {
          "type": "video_url",
          "id": "video_url",
          "accept": [
            "youtube",
            "vimeo"
          ],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
          "label": "URL",
          "info": "Video plays in the page."
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Video alt text",
          "info": "Describe the video for customers using screen readers."
        },
        {
          "type": "checkbox",
          "id": "controls",
          "label": "Show controls",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "autoplay",
          "label": "Autoplay",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "mute",
          "label": "Mute",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "encrypted",
          "label": "Protect Privacy",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "fullscreen",
          "label": "Allow Fullscreen",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "pnp",
          "label": "Allow Picture-in-Picture",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "gyroscope",
          "label": "Allow Gyroscope",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "accelerometer",
          "label": "Allow Accelerometer",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "copy",
          "label": "Allow Users to Copy to Clipboard",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Blue Wave Mast"
    }
  ]
}
{% endschema %}

{% style %}
  main {
    margin-bottom: var(--global-p4);
  }
  [id^="shopify-section-template-"] section {
      width: {{ settings.desktop_section_width }}%;
      padding: var(--global-p1);
      margin: 0 auto;
    }
  h2 {
      font-size: calc(var(--text-basic) * 1.5);
      font-weight: 800;
    }
  .landing-mast {
      width: 100%;
      background-image: url('{{ bg_image }}');
      background-repeat: no-repeat;
    }
  #mast-container {
      width: 80%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: .25fr 2.75fr 1fr;
      gap: {{ settings.gap_spacing }}rem;
      grid-template-areas:
        "empty intro product";
      padding-bottom: var(--global-p4);
    }
  #empty {
      grid-area: empty;
    }
  #page-title h1 {
      color: var(--color-bg);
    }
  #page-title h1 {
      font-size: 2rem;
      font-weight: 900;
    }
  #qualifier {
      font-size: 1rem;
      font-weight: 400;
      color: var(--color-bg);
    }
  #intro {
      grid-area: intro;
      font-size: 1.25rem;
      font-weight: 600;-
    }
  #intro-copy {
      margin-top: var(--global-p1);
      margin-right: var(--global-p4);
    }
  #product {
      grid-area: product;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  #product-image { width: 100%; }
  #price-box {
      width: 100%;
      padding: var(--global-p1);
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      left: 0;
      top: calc(var(--global-p3) * -1);
      z-index: 1;
      background: rgba(190,224,191,1);
      border-style: solid;
      border-width: 3px;
      border-color: #1f5438;
      border-radius: 25px;
    }
  #price-box-inner {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: calc(var(--global-p1) - 50%);
      margin: .5rem 0 0;
      background-color: #ffffffbd;
      border-style: solid;
      border-width: 1.5px;
      border-color: #1f5438;
    }
  #price-box-title {
      font-size: calc(var(--text-basic) + 50%);
      font-weight: 800;
      line-height: 1;
    }
  #price-box-compare {
      margin-bottom: 0;
      font-size: calc(var(--text-basic) + 30%);
      font-weight: 500;
      text-decoration: line-through;
      text-decoration-thickness: auto;
      text-decoration-color: red;
      text-decoration-thickness: 0.2rem;
    }
  #price-box-price {
      margin-bottom: 0;
      font-size: calc(var(--text-basic) + 50%);
      font-weight: 600;
    }
  @media only screen and (max-width: 767px) {
    /* Small devices */
    [id^="shopify-section-template-"] section {
      width: {{ settings.mobile_section_width }}%;
    }
    .landing-mast {
      background-position: center top;
    }
    #mast-container {
      grid-template-columns: 1fr;
      grid-template-areas:
        "intro"
        "product"
        "empty";
      width: 100%;
    }
    #empty {
      grid-area: empty;
      display: none;
    }
    #intro {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: var(--global-p1);
    }
    #intro-copy {
      margin-top: var(--global-p1);
      margin-right: 0;
    }
    #product {
      grid-area: product;
      padding: var(--global-p1);
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Medium devices */
    [id^="shopify-section-template-"] section {
      width: {{ settings.tablet_section_width }}%;
    }
    .landing-mast {
      background-position: center bottom;
    }
    #mast-container {
      grid-template-columns: 2fr 2fr;
      grid-template-areas: "intro product";
      padding-bottom: 0;
    }
    #empty {
      display: none;
    }
    div#price-box {
      top: calc(var(--global-p3) * -.5);
    }
  }

  @media only screen and (min-width: 1024px) and (max-width: 1439px) {
    /* Large devices */
    .landing-mast {
      background-position: right bottom;
    }
    #mast-container {
      grid-template-columns: 2fr 1fr;
      grid-template-areas: "intro product";
      gap: calc({{ settings.gap_spacing }}rem * 2);
    }
    #empty {
      display: none;
    }
    #intro {
      padding-top: var(--global-p1);
    }
    #price-box {
      top: calc(var(--global-p3) * -.5);
    }
  }

  @media only screen and (min-width: 1440px) {
    /* Extra large devices */
    .landing-mast {
      background-position: right bottom;
    }
    #mast-container {
      grid-template-columns: 2fr 1fr;
      grid-template-areas: "intro product";
      gap: calc({{ settings.gap_spacing }}rem * 4);
    }
    #empty {
        display: none;
    }
    #price-box {
      margin-bottom: 0;
    }
    #intro {
      padding-top: var(--global-p2);
    }
  }
{% endstyle %}
