{% comment %} Product Description Tabs {% endcomment %}

{% assign container_class = 'section' | append: ' is-width-' | append: section.settings.width %}

{% comment %} Product Description MetaFields {% endcomment %}
{% assign product_description = product.metafields.proddesc.description %}
{% assign description_title = product.metafields.proddesc.description_title %}
{% assign size_comparison = product.metafields.proddesc.size_comparison %}
{% assign technical_information = product.metafields.proddesc.technical_information.value %}
{% assign technical_specifications = technical_information.technical_specifications %}
{% assign dimensions = technical_information.dimensions %}
{% assign ha = technical_information.hearing_aid %}
{% assign box_image = product.metafields.proddesc.box_image %}
{% assign product_accessories = product.metafields.proddesc.box_list.value %}
{% assign youtube = product.metafields.proddesc.product_video %}

{% comment %} HTML markup {% endcomment %}
{% if settings.show_product_description_tabs %}
  <div id="tabs" class="{{ container_class }}">
    <div class="tab-header">
      <button class="button-item">
        <a href="#section-1" class="smooth-scroll">{{ settings.tab_1 }}</a>
      </button>
      <button class="button-item">
        <a href="#section-2" class="smooth-scroll">{{ settings.tab_2 }}</a>
      </button>
      <button class="button-item">
        <a href="#section-3" class="smooth-scroll">{{ settings.tab_3 }}</a>
      </button>
      <button class="button-item">
        <a href="#section-4" class="smooth-scroll">{{ settings.tab_4 }}</a>
      </button>
      <button class="button-item">
        <a href="#section-5" class="smooth-scroll">{{ settings.tab_5 }}</a>
      </button>
    </div>

    <div id="section-1" class="tab-content">
      <button class="button-item mobile-button active">
        <a href="#section-1" class="smooth-scroll">{{ settings.tab_1 }}</a>
      </button>

      <div id="section-content-1" class="content active">
        <h2>{{ description_title }}</h2>
        <p>{{ product_description }}</p>
      </div>
    </div>

    <div id="section-2" class="tab-content">
      <button class="button-item mobile-button">
        <a href="#section-2" class="smooth-scroll">{{ settings.tab_2 }}</a>
      </button>

      <div id="section-content-2" class="content">
        <h2>{{ product.title }} 6-Month Limited Warranty</h2>
        <p>
          Your {{ product.title }} hearing aid comes with a 6-month limited warranty and your order will include a
          storage case, USB Charging Cable, and a care kit: an $85 value, absolutely free to you!
        </p>
        <p>
          If you want an inexpensive hearing aid that’s effective and easy to use, the {{ product.title }} is a perfect
          choice.
        </p>
        <p>Warranty Included: 6 Month Limited Warranty and 30 Day Money Back Guarantee – Risk-Free!</p>
        {% include 'image-element', image: images.['puppy_warranty.jpg'], loading: 'lazy', alt: images.['puppy_warranty.jpg'].alt %}
      </div>
    </div>

    <div id="section-3" class="tab-content">
      <button class="button-item mobile-button">
        <a href="#section-3" class="smooth-scroll">{{ settings.tab_3 }}</a>
      </button>

      <div id="section-content-3" class="content">
        <h2>Compare Our Top {{ product.collections.first.title }}</h2>
        <div id="comparison-products">
          {% assign main_collection = product.collections.first %}
          {% for product in collections[main_collection.handle].products limit: 3 %}
            {% if product.handle != current_variant.product.handle %}
              {% assign technical_information = product.metafields.proddesc.technical_information.value %}
              {% assign technical_specifications = technical_information.technical_specifications %}
              {% assign dimensions = technical_information.dimensions %}
              {% assign ha = technical_information.hearing_aid %}
              <div class="similar-product">
                <a href="{{ product.url }}">
                  {% include 'image-element', image: product.featured_image.src, alt: product.title, loading: 'lazy' %}
                  <div class="title-box">
                    <h4>{{ product.title }}</h4>
                    <h5>{{ product.price | money }}</h5>
                  </div>

                  {% if technical_information %}
                    {% if dimensions %}
                      <div id="compare-dimenssions" class="dimension-box">
                        <div id="compare-dimenssion-head" class="dimension-box-header">
                          <p><small>height x width x depth</small></p>
                        </div>
                        <div id="compare-dimenssion-body" class="dimension-box-body">
                          <p>
                            {{ dimensions.height.mm }}mm x {{ dimensions.width.mm }}mm x {{ dimensions.depth.mm }}mm
                          </p>
                          <p>
                            {{ dimensions.height.in }}in x {{ dimensions.width.in }}in x {{ dimensions.depth.in }}in
                          </p>
                        </div>
                        <div id="compare-dimenssion-footer" class="dimension-box-footer">
                          {% comment %} Hearing Levels {% endcomment %}
                          {% if ha %}
                            <h4><small>For Hearing Levels:</small> {{ ha.for }}</h4>
                          {% endif %}
                        </div>
                      </div>
                    {% endif %}

                    <table>
                      <tbody>
                        <!-- Technical Specifications and Dimensions -->
                        {% for key_value in technical_specifications %}
                          {% assign kv_pair = key_value | split: ',' %}
                          {% assign key = kv_pair[0]
                            | split: ':'
                            | last
                            | remove: '"'
                            | remove: '['
                            | remove: ']'
                            | strip
                          %}
                          {% assign value = kv_pair[1]
                            | split: ':'
                            | last
                            | remove: '"'
                            | remove: '['
                            | remove: ']'
                            | strip
                          %}
                          <tr>
                            <td>{{ key }}:</td>
                            <td>{{ value }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  {% endif %}
                </a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div id="section-4" class="tab-content">
      <button class="button-item mobile-button">
        <a href="#section-4" class="smooth-scroll">{{ settings.tab_4 }}</a>
      </button>

      <div id="section-content-4" class="content">
        <h2>{{ settings.tab_4 }}</h2>

        <div class="img-tbl">
          {% if size_comparison %}
            {% include 'image-element',
              image: size_comparison,
              alt: size_comparison.alt,
              loading: 'lazy',
              figure_classes: 'full'
            %}
          {% endif %}
          {% if dimensions %}
            <div class="dimension-box">
              <div class="dimension-box-header">
                <p><small>height x width x depth</small></p>
              </div>
              <div class="dimension-box-body">
                <p>{{ dimensions.height.mm }}mm x {{ dimensions.width.mm }}mm x {{ dimensions.depth.mm }}mm</p>
                <p>{{ dimensions.height.in }}in x {{ dimensions.width.in }}in x {{ dimensions.depth.in }}in</p>
              </div>
              <div class="dimension-box-footer">
                {% comment %} Hearing Levels {% endcomment %}
                {% if ha %}
                  <h4><small>For Hearing Levels:</small> {{ ha.for }}</h4>
                {% endif %}
              </div>
            </div>
          {% endif %}

          {% if technical_specifications %}
            <table>
              <tbody>
                {% for key_value in technical_specifications %}
                  {% assign kv_pair = key_value | split: ',' %}
                  {% assign key = kv_pair[0] | split: ':' | last | remove: '"' | remove: '[' | remove: ']' | strip %}
                  {% assign value = kv_pair[1] | split: ':' | last | remove: '"' | remove: '[' | remove: ']' | strip %}
                  <tr>
                    <td>{{ key }}:</td>
                    <td>{{ value }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
        </div>
      </div>
    </div>

    <div id="section-5" class="tab-content">
      <button class="button-item mobile-button">
        <a href="#section-5" class="smooth-scroll">{{ settings.tab_5 }}</a>
      </button>

      <div id="section-content-5" class="content">
        <h2>What's in the Box</h2>

        <div class="img-tbl">
          {% if box_image %}
            {% include 'image-element', image: box_image, alt: box_image.alt, loading: 'lazy', figure_classes: 'full' %}
          {% endif %}

          {% if product_accessories %}
            <ul>
              {% if product_accessories.hearing_aid %}
                <li>{{ product_accessories.hearing_aid }}</li>
              {% endif %}
              {% if product_accessories.storage_case %}
                <li>Storage Case</li>
              {% endif %}
              {% if product_accessories.manual.available %}
                {% if product_accessories.manual.link %}
                  {% if product_accessories.manual.link.User %}
                    <li><a href="{{ product_accessories.manual.link.User }}">User Manual</a></li>
                  {% endif %}
                  {% if product_accessories.manual.link.App != empty and product_accessories.manual.link.App != ' ' %}
                    <li><a href="{{ product_accessories.manual.link.App }}">App Manual</a></li>
                  {% endif %}
                {% else %}
                  <li>Manual</li>
                {% endif %}
              {% endif %}

              {% if product_accessories.alcohol_wipe %}
                <li>Alcohol Wipe</li>
              {% endif %}
              {% if product_accessories.different_sized_domes %}
                <li>Different Sized Domes</li>
              {% endif %}
              {% if product_accessories.tube %}
                <li>
                  {% if product_accessories.tube.link %}
                    <a href="{{ product_accessories.tube.link }}">{{ product_accessories.tube.type }}</a>
                  {% else %}
                    {{ product_accessories.tube.type }}
                  {% endif %}
                </li>
              {% endif %}
              {% if product_accessories.tool.available %}
                <li>
                  {% if product_accessories.tool.type %}
                    {{ product_accessories.tool.type }}
                  {% else %}
                    Tool
                  {% endif %}
                </li>
              {% endif %}
              {% if product_accessories.battery.available %}
                <li>
                  {% if product_accessories.battery.type == 'single_use' %}
                    {{ product_accessories.battery.type | replace: '_', '-' | capitalize }} Battery (
                    {{- product_accessories.battery.size -}}
                    )
                  {% else %}
                    {{ product_accessories.battery.type | capitalize }} Battery
                  {% endif %}
                </li>
              {% endif %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% comment %} Youtube Video {% endcomment %}

{% if product.metafields.proddesc.product_video %}
  {% assign youtube = product.metafields.proddesc.product_video %}
  {% if youtube != '' %}
    {% assign youtube_embed_url = youtube | replace: 'watch?v=', 'embed/' %}
    <div class="video-wrapper">
      <iframe
        width="560"
        height="315"
        src="{{ youtube_embed_url }}?controls=0"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  {% endif %}
{% endif %}

{% javascript %}
    document.addEventListener('DOMContentLoaded', () => {
      const buttons = document.querySelectorAll('.button-item');
      const sections = document.querySelectorAll('.content');

      buttons.forEach((button) => {
        button.addEventListener('click', function (event) {
          event.preventDefault();

          const href = this.querySelector('a').getAttribute('href');
          const sectionId = href.replace('#section-', '#section-content-');
          const section = document.querySelector(sectionId);

          buttons.forEach((btn) => btn.classList.remove('active'));
          sections.forEach((sec) => sec.classList.remove('active'));

          this.classList.add('active');
          section.classList.add('active');

          event.stopPropagation();
          return false;
        });
      });

      buttons.forEach((button) => {
        button.addEventListener('click', (event) => {
          event.preventDefault();
          event.stopPropagation();
          // Add your custom button click behavior here
          return false;
        });
      });
    });
  const specs_size = Object.assign({}, technical_specifications, dimensions);
{% endjavascript %}

{% schema %}
{
  "name": "Product Descriptions Tabs",
  "tag": "section",
  "class": "tab-content",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "standard",
      "options": [
        {
          "value": "half",
          "label": "Half"
        },
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "header",
      "content": "Tabs"
    },
    {
      "type": "text",
      "id": "tab_1",
      "label": "Tab 1 Label",
      "default": "Description"
    },
    {
      "type": "text",
      "id": "tab_2",
      "label": "Tab 2 Label",
      "default": "Warranty"
    },
    {
      "type": "text",
      "id": "tab_3",
      "label": "Tab 3 Label",
      "default": "Size Comparison & Technical Information"
    },
    {
      "type": "text",
      "id": "tab_4",
      "label": "Tab 4 Label",
      "default": "Size"
    },
    {
      "type": "text",
      "id": "tab_5",
      "label": "Tab 5 Label",
      "default": "What's in the Box"
    }
  ]
}
{% endschema %}

{% comment %} Section Specific CSS {% endcomment %}
{% style %}
  /* Elements: Buttons */
  .button-item {
    background-color: var(--foreground-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-style: none;
    margin: calc(var(--global-p1) * 0.07);
  }

  .button-item a {
    color: #fdfdfd;
    font-family: var(--pf-primary-font);
    font-weight: 700;
    font-size: 18px;
    padding: calc(var(--global-p1) * 0.5);
    border-style: none;
    text-decoration: none;
  }

  .button-item:hover,
  .active.button-item {
    background-color: var(--foreground-color);
    color: #fff;
  }

  /* Elements: Content Area */
  .content {
    display: grid;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 250ms height ease-in, 250ms 250ms opacity ease-in;
  }

  .active {
    height: auto;
    opacity: 1;
    transition: 250ms 250ms height ease-in, 250ms opacity ease-in;
  }

  .content.active {
    padding: calc(var(--global-p1) * 0.7) calc(var(--global-p1) * 0.5);
  }

  #tabs h2,
  #tabs h3,
  #tabs h4 {
    padding: 0;
    margin: 0;
    font-weight: 700;
  }

  /* Elements: Table */
  table {
    border-radius: var(--global-p2);
  }

  td,
  th {
    padding-left: var(--global-p1);
    padding-right: var(--global-p1);
    text-align: left;
  }

  table tr:nth-child(even) {
    background-color: var(--light-blue);
  }

  table tr:last-child td:first-child {
    border-radius: 0 0 0 var(--global-p2);
  }

  table tr:last-child td:last-child {
    border-radius: 0 0 var(--global-p2) 0;
  }

  table tbody tr {
    border: none;
  }

  /* Elements: Video */
  .video-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: var(--global-p1);
  }

  /* Elements: Images */
  figure.image-element__wrap {
    justify-self: center;
  }

  /* Sections: Tab 3 - Comparison */
  #comparison-products {
    display: grid;
    padding: var(--global-p1) 0;
    grid-gap: var(--global-p2);
    grid-template-columns: 1fr 1fr 1fr;
  }

  .similar-product h4 {
    font-size: x-large;
  }

  .similar-product h5 {
    font-size: larger;
    font-weight: 500;
  }

  .title-box {
    border-bottom: 1px solid;
    margin-bottom: var(--global-p1);
    display: grid;
    grid-gap: var(--global-p1);
  }

  .img-tbl {
    display: grid;
    grid-gap: var(--global-p1);
  }

  .img-tbl .full {
    width: 100%;
  }
  /* End General Styles */

  /* Start Mobile Styles */
  @media only screen and (max-width: 768px) {
    /* Elements: Tab Header */
    .tab-header {
      display: none;
    }

    /* Elements: Content */
    .content {
      /* set transition properties for the element */
      height: auto;
      opacity: 1;
    }

    [id^="section-content-"] h2,
    [id^="section-content-"] h3 {
      text-align: center;
    }

    /* Element: Buttons */
    .mobile-button {
      display: none;
    }
    .button-item {
      width: 100%;
    }

    /* Elements: Video */
    iframe {
      border: 0;
      width: fit-content;
      height: auto;
    }

    /* Element: Comparison Dimension Box */
    #compare-dimenssions {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: calc(var(--global-p1) * .5);
      padding-left: calc(var(--global-p1) * .9);
    }

    #compare-dimenssion-head {}

    #compare-dimenssion-body {}

    #compare-dimenssion-body p {
      margin: 0;
    }

    #compare-dimenssion-footer {
      display: flex;
      flex-direction: column;
    }

    #compare-dimenssion-footer h4 {
      margin: 0;
    }

    #compare-dimenssion-footer h6 {
      margin: 0;
    }

    /* Sections: Tab 3 - Comparison */
    #comparison-products,
    .img-tbl {
      grid-template-columns: 1fr;
    }

    /* Sections: Tab 4 - Size */
    #section-content-4 .img-tbl {
      grid-template-areas:
        "dimensions"
        "figure"
        "table";
    }

    #section-content-4 .img-tbl figure {
      grid-area: figure;
      margin-bottom: 0;
    }

    #section-content-4 .img-tbl .dimension-box {
      grid-area: dimensions;
      display: grid;
      grid-gap: var(--global-p1);
    }

    #section-content-4 .img-tbl table {
      grid-area: table;
    }

    /* Sections: Tab 5 - What's in The Box? */
    #section-content-5 {
      padding: var(--global-p1) 0;
      grid-gap: var(--global-p1);
    }

    #section-content-5 .img-tbl {
      grid-template-areas:
        "figure"
        "list";
    }

    #section-content-5 .img-tbl figure {
      grid-area: figure;
      margin-bottom: 0;
    }

    #section-content-5 .img-tbl ul {
      grid-area: list;
    }
  }
  /* End Mobile Styles */

  /* Start Tablet Styles */
  @media only screen and (min-width: 769px) {
    /* Elements: Content */
    .tab-header {
      display: flex;
      flex-direction: row;
      flex: 1;
      color: #fdfdfd;
      font-family: var(--pf-primary-font);
    }

    #tabs {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    /* Element: Button */
    .button-item.mobile-button,
    .button-item.mobile-button.active {
      display: none;
    }

    .button-item {
      border-top-right-radius: 15px;
      flex: 1;
    }

    .button-item:not(:last-of-type) a {
      border-right: 0;
    }

    /* Element: Comparison Dimension Box */
    #compare-dimenssions {
      display: flex;
      flex-wrap: wrap;
      gap: var(--global-p1);
      align-items: baseline;
    }

    #compare-dimenssion-head {}

    #compare-dimenssion-body {}

    /* Sections: Tab 4 - Size */
    #section-content-4 {}
    #section-content-4 .img-tbl {
      grid-template-columns: 1fr 2fr;
      grid-template-areas:
        "content figure"
        "table table";
    }

    #section-content-4 .img-tbl figure {
      grid-area: figure;
      margin-bottom: 0;
    }

    #section-content-4 .img-tbl table {
      grid-area: table;
    }

    #section-content-4 .img-tbl .dimension-box {
      grid-area: content;
      display: grid;
      grid-template-areas:
        "dimension-head"
        "dimension-values"
        "for";
      grid-template-columns: 1fr;
    }

    #section-content-4 .img-tbl .dimension-box h4 {
      display: flex;
      flex-direction: column;
    }

    .dimension-box-header {
      grid-area: dimension-head;
    }

    .dimension-box-dimensions {
      grid-area: dimension-values;
    }

    .dimension-box h4 {
      grid-area: for;
    }

    .dimension-box-dimensions p {
      margin: 0 !important;
    }


    /* Sections: Tab 5 - What's In The Box? */
    #section-content-5 .img-tbl {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-areas: "figure list";
    }

    #section-content-5 .img-tbl figure {
      grid-area: figure;
      margin-bottom: 0;
    }

    #section-content-5 .img-tbl ul {
      grid-area: list;
    }
  }
  /* End Tablet Styles */

  /* Start Desktop Styles */
  @media only screen and (min-width: 1080px) {
    /* Elements: Content Area */
    .tab-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
    }

    .content {
      display: grid;
      width: 100%;
      max-width: 1500px;
    }

    /* Sections: Tab 4 - Size */
    #section-content-4 .img-tbl {
      grid-template-columns: 2fr 1fr;
      grid-template-areas:
        "content table"
        "figure table";
    }

    #section-content-4 .img-tbl .dimension-box {
      grid-template-areas: "dimension-head dimension-values for";
      grid-template-columns: 1fr 3fr 4fr;
      justify-items: center;
      align-items: baseline;
    }
  }
  /* End Desktop Styles */
{% endstyle %}
