{% comment %}
  ** Product - main content area **
  - Product template
{% endcomment %}

{% assign show_product_title = section.settings.show_product_title %}
{% assign show_header_text = section.settings.show_header_text %}
{% assign header_title = section.settings.header_title %}
{% assign header_copy = section.settings.header_copy %}
{% assign section_name = header_titl | replace: ' ', '-' | downcase | default: 'product-start' %}
{% assign container_class = 'section' | append: ' is-width-' | append: section.settings.width %}

{% comment %} Layout {% endcomment %}
{% assign width = section.width %}

{% liquid
  assign selected_variant = product.selected_variant

  if product.variants.size == 1 or settings.select_first_available_variant
    assign selected_variant = product.selected_or_first_available_variant
  endif
%}

<div id="{{ section_name }}-container" class="{{ container_class }} product-{{ product.id }}">
  {% if section.settings.show_section_header %}
    {%
      include 'product_header' with
      show_product_title: show_product_title,
      show_reviews: section.settings.show_reviews,
      show_header_text: show_header_text,
      header_title: header_title,
      header_copy: header_copy,
      section_name: section_name
    %}
  {% endif %}

  <div id="{{ section_name }}-body">
    <div id="{{ section_name }}-img" class="product__images">
      {% render 'product__images',
        product: product,
        display_thumbnails: section.settings.display_thumbnails,
        thumbnail_position: section.settings.thumbnail_position,
        enable_thumbnail_slider: section.settings.enable_thumbnail_slider,
        product_height: section.settings.product_height,
        set_product_height: section.settings.set_product_height,
        video_looping: section.settings.video_looping,
        gallery_arrows: section.settings.gallery_arrows,
        slideshow_transition: section.settings.slideshow_transition,
        enable_product_lightbox: section.settings.enable_product_lightbox,
        enable_zoom: section.settings.enable_zoom
      %}
    </div>

    <!-- Start Description Section -->
    <div
      id="{{ section_name }}-description"
      class="product__information has-product-sticker"
    >
      {% comment %} Sale sticker {% endcomment %}
      {% if stickers_enabled %}
        {% assign collection_handles = product.collections | map: 'handle' %}
        {% render 'product-thumbnail__sticker', context: 'product', collection_handles: collection_handles %}
      {% endif %}

      <div class="description content">
        {{ product.description }}
      </div>

      {% comment %} Hearing Levels {% endcomment %}
      {% if ha %}
        <h4><small>For Hearing Levels:</small> {{ ha.for }}</h4>
      {% endif %}

      {% comment %} Price {% endcomment %}
      <div id="price-container">
        {% comment %} Price {% endcomment %}
        <div id="price-box">
          <h2 class="price">
            {% if section.settings.price_pretext %}{{ section.settings.price_pretext | richtext }}{% endif -%}
            &nbsp;{{ product.price | money_with_currency }}
          </h2>
        </div>
        {% comment %} Savings {% endcomment %}
        {% if section.settings.show_savings %}
          {% if product.compare_at_price > product.price %}
            <h3 class="savings">
              {{ section.settings.savings_pretext | richtext }}&nbsp;
              {{ product.compare_at_price | minus: product.price | money_with_currency }}
            </h3>
          {% endif %}
        {% endif %}
      </div>

      {% comment %} Feature List {% endcomment %}
      {% if section.settings.show_feature_list %}
        <div class="feature-list">
          {{ section.settings.feature_list | richtext }}
        </div>
      {% endif %}

      {% comment %} Trust Badges {% endcomment %}
      {% if section.settings.show_trust_badges %}
        <div id="trust-badges-container">
          {% include 'trust-badges' %}
        </div>
      {% endif %}

      {% comment %} Description - top {% endcomment %}
      {% if product_description_position == 'top' and product.description != blank %}
        <div class="description content">
          {{ product.description | split: '<!-- split -->' | first }}
        </div>
      {% endif %}

      {% comment %} Social share icons {% endcomment %}
      {% if section.settings.display_social_buttons %}
        <div class="product__social-share">
          {% render 'social-share-buttons' %}
        </div>
      {% endif %}

      {% comment %} Description - split {% endcomment %}
      {% if product.description contains '<!-- split -->' %}
        <div class="product-description-split">
          <div class="description content">
            {{ product.description | split: '<!-- split -->' | last }}
          </div>
        </div>
      {% endif %}

      {% if section.settings.show_button %}
        <div id="decription-button">
          {% assign button_label = section.settings.button_label -%}
          {%- assign default_link = product.url | append: '#' | append: 'variant-container' %}
          {% assign button_link = section.settings.button_link %}
          {% if button_link == blank %}
            {% assign button_link = default_link %}
          {% endif %}
          {% assign button_type = section.settings.button_type %}
          {% assign button_style = section.settings.button_style %}
          {% assign button_size = section.settings.button_size %}
          {% assign button_class = section.settings.button_class %}
          {% assign button_attribute = section.settings.button_attribute %}

          {%
            include 'button' with
            label: button_label,
            href: button_link,
            type: button_type,
            style: button_style,
            size: button_size,
            class: button_class,
            attribute: button_attribute
          %}
        </div>
      {% endif %}
    </div>
    <!-- End Description Section -->
  </div>
</div>

{% comment %} JavaScript {% endcomment %}
<script type="application/json" data-section-id="{{ section.id }}" data-section-data>
  {
    "display_savings": {{ section.settings.display_savings | json }},
    "gallery_arrows": {{ section.settings.gallery_arrows | json }},
    "thumbnail_arrows": {{ section.settings.gallery_arrows | json }},
    "enable_zoom": {{ section.settings.enable_zoom | json }},
    "enable_product_lightbox": {{ section.settings.enable_product_lightbox | json }},
    "enable_thumbnail_slider": {{ section.settings.enable_thumbnail_slider | json }},
    "slideshow_speed": {{ section.settings.slideshow_speed | json }},
    "slideshow_transition": {{ section.settings.slideshow_transition | json }},
    "thumbnails_enabled": {{ section.settings.display_thumbnails | json }},
    "thumbnail_position": {{ section.settings.thumbnail_position | json }},
    "product_media_amount": {{ product.media.size }},
    "template": "classic"
  }
</script>

<script src="{{ 'z__jsProduct.js' | asset_url }}"></script>

{% javascript %}
  document.querySelector(".shop-sale").addEventListener("click", function(event) {
    const form = this.closest("form"); // Find the closest parent form element
    const targetLink = form.getAttribute("action"); // Get the action attribute value
    console.log(targetLink)
    if (targetLink && targetLink.startsWith("#")) {
      event.preventDefault(); // Prevent the default link behavior
      const targetElement = document.querySelector(targetLink);
      if (targetElement) {
        const targetPosition = targetElement.getBoundingClientRect().top + window.pageYOffset;

        // Use custom scroll behavior with CSS transitions for ease-in-out effect
        const startPosition = window.pageYOffset;
        const distance = targetPosition - startPosition;
        const duration = 1000; // Set the duration in milliseconds
        const startTime = performance.now();

        function step(currentTime) {
          const elapsedTime = currentTime - startTime;
          if (elapsedTime >= duration) {
            window.scrollTo(0, targetPosition);
            return;
          }

          const easing = easeInOutCubic(elapsedTime, startPosition, distance, duration);
          window.scrollTo(0, easing);

          requestAnimationFrame(step);
        }

        requestAnimationFrame(step);
      }
    }
  });

  function easeInOutCubic(t, b, c, d) {
    t /= d / 2;
    if (t < 1) return c / 2 * t * t * t + b;
    t -= 2;
    return c / 2 * (t * t * t + 2) + b;
  }
{% endjavascript %}

<style></style>
{% style %}
  /* Grid Styles for Product Start Container */
  #product-start-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #product-start-body {
    display: grid;
    grid-template-areas:
      "header header"
      "img desc";
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--global-p3);
    align-items: center;
    max-width: 1200px;
  }

  .product-start-header {
    grid-area: header;
    width: 100%;
  }

  #product-start-description {
    grid-area: desc;
    display: grid;
    justify-items: center;
    gap: var(--global-p1);
  }

  #product-start-img {
    grid-area: img;
  }

  /* Hide Quantity Box */
  .purchase-details__quantity.product-quantity-box.quantity-box--box {
    display: none;
  }

  /* Font Size and Margin for h4 */
  h4 {
    font-size: calc(var(--text-basic) * 1.5);
    margin-bottom: var(--global-p5);
  }

  /* Price Container Styles */
  #price-container {
    display: flex;
    gap: var(--global-p1);
    margin-bottom: var(--global-p1);
  }

  #price-box {
    background-color: var(--primary-color);
    padding: var(--global-p1) var(--global-p2);
  }

  #price-box h2 {
    color: var(--color-bg);
  }

  /* Savings Class */
  .savings {
    padding: var(--global-p1) var(--global-p2);
  }

  /* Feature List Styles */
  .feature-list {
    justify-self: start;
    padding-left: var(--global-p1);
  }

  .feature-list ul li {
    list-style-type: "✓";
    padding-left: var(--global-p1);
  }

  .feature-list ul li::marker {
    color: green;
    font-size: calc(var(--text-basic) * 1.25);
  }

  /* Trust Badges Container */
  #trust-badges-container {
    display: flex;
    justify-content: center;
  }

  /* Description Button */
  #description-button {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  /* Responsive Styles for Smaller Screens */
  @media only screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
    }

    #description-container {
      width: 100%;
      padding: 0 var(--global-p4) var(--global-p2);
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #product-start-body {
      grid-template-areas:
        "header"
        "img"
        "desc";
      grid-template-columns: 1fr;
    }multi

    #description-inner-container {
      display: flex;
      flex-direction: column;
      gap: var(--global-p1);
      margin: 0;
    }

    #price-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0;
      text-align: center;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "Product Starter",
  "tag": "section",
  "class": "jsProduct product-start",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wide",
      "options": [
        {
          "value": "half",
          "label": "Half"
        },
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section Header"
    },
    {
      "type": "checkbox",
      "id": "show_section_header",
      "label": "Show Section Header",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_product_title",
      "label": "Show Product Title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_reviews",
      "label": "Show Reviews",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_header_text",
      "label": "Show Header Text",
      "default": true
    },
    {
      "type": "text",
      "id": "header_title",
      "label": "Header Title",
      "default": "Product Start Section"
    },
    {
      "type": "richtext",
      "id": "header_copy",
      "label": "Header Copy",
      "default": "<p>Just click the option that works for you and you will be taken directly to checkout so you can apply your coupon code and get the hearing aid(s) you need!<p>"
    },
    {
      "type": "header",
      "content": "Product gallery"
    },
    {
      "type": "checkbox",
      "id": "display_thumbnails",
      "label": "Show thumbnails",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "gallery_arrows",
      "label": "Show arrows",
      "info": "Applies to desktop only.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_zoom",
      "label": "Magnify on hover",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_product_lightbox",
      "label": "Enable lightbox",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_thumbnail_slider",
      "label": "Enable thumbnail slider",
      "default": true
    },
    {
      "type": "header",
      "content": "Product information"
    },
    {
      "type": "checkbox",
      "id": "show_feature_list",
      "label": "Show Features",
      "default": true
    },
    {
      "type": "richtext",
      "id": "feature_list",
      "label": "Feature List"
    },
    {
      "type": "text",
      "id": "price_pretext",
      "label": "Price Pretext"
    },
    {
      "type": "checkbox",
      "id": "show_savings",
      "label": "Show Price Savings",
      "default": true
    },
    {
      "type": "text",
      "id": "savings_pretext",
      "label": "Savings Pretext",
      "default": "You Save:"
    },
    {
      "type": "checkbox",
      "id": "display_social_buttons",
      "label": "Show social media share icons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_trust_badges",
      "label": "Show Trust Badges",
      "default": true
    },
    {
      "type": "header",
      "content": "Media",
      "info": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
    },
    {
      "type": "radio",
      "id": "product_images_position",
      "label": "Media position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "checkbox",
      "id": "set_product_height",
      "label": "Set height of product media",
      "default": false
    },
    {
      "type": "range",
      "id": "product_height",
      "label": "Product media height",
      "min": 200,
      "max": 800,
      "step": 10,
      "default": 500,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "video_looping",
      "label": "Enable video looping",
      "default": false
    },
    {
      "type": "select",
      "id": "animation",
      "label": "Animation",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "fadeIn",
          "label": "Fade in"
        },
        {
          "value": "fadeInDown",
          "label": "Fade in down"
        },
        {
          "value": "fadeInLeft",
          "label": "Fade in left"
        },
        {
          "value": "fadeInRight",
          "label": "Fade in right"
        },
        {
          "value": "slideInLeft",
          "label": "Slide in left"
        },
        {
          "value": "slideInRight",
          "label": "Slide in right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Button Options"
    },
    {
      "type": "checkbox",
      "id": "show_button",
      "label": "Show Button",
      "default": true
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Shop the Sale"
    },
    {
      "type": "text",
      "id": "button_link",
      "label": "Button Link",
      "default": "#variant-anchor",
      "info": "Default '#variant-anchor'. Slides down to variant section."
    },
    {
      "type": "select",
      "id": "button_type",
      "label": "Button Type",
      "options": [
        {
          "value": "button",
          "label": "Button"
        },
        {
          "value": "link",
          "label": "Link"
        }
      ],
      "default": "button"
    },
    {
      "type": "select",
      "id": "button_size",
      "label": "Button Size",
      "options": [
        {
          "value": "is-small",
          "label": "Small"
        },
        {
          "value": "is-normal",
          "label": "Normal"
        },
        {
          "value": "is-medium",
          "label": "Medium"
        },
        {
          "value": "is-large",
          "label": "Large"
        }
      ],
      "default": "is-normal"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button Style",
      "options": [
        {
          "value": "button--primary",
          "label": "Primary"
        },
        {
          "value": "button--secondary",
          "label": "Secondary"
        }
      ],
      "default": "button--primary"
    },
    {
      "type": "text",
      "id": "button_class",
      "label": "Button Custom Class",
      "default": "shop-sale",
      "info": "To list multiple classes, seperate them with a space. Default is 'shop-sale'"
    },
    {
      "type": "text",
      "id": "button_attribute",
      "label": "Button Custom Attribute",
      "default": "name"
    }
  ],
  "presets": [
    {
      "name": "Product Starter"
    }
  ]
}
{% endschema %}
