{% assign main_collection = product.collections.first %}
{% assign section = section.settings %}
{% assign width = section.width %}
{% assign section_name = section.section_title | replace: ' ', '-' | downcase | default: 'recommendation' %}

{% style %}
  #product-recommendation {
    padding: var(--global-p2);
    display: flex;
    gap: var(--global-p1);
      flex-direction: column;
  }
  @media (max-width: 490px) {
    #product-recommendation {
      padding: var(--global-p1);
    }
    .product-grid {
      padding: 0 !important;
    }
{% endstyle %}

<!-- Product recommendation -->
{% if section.show_section %}
  <div
    id="{{ section_name }}-container"
    class="section is-width-{{ width }} product-recommendation"
    data-url="{{ routes.product_recommendation_url }}?section_id={{ section.settings.id }}&product_id={{ product.id }}&limit={{ section.product_limit }}&intent={{ section.product_type }}"
  >
    <header id="{{ section_name }}-header">
      <h2>{{ section.section_title }}</h2>
      <div>{{ section.header_copy }}</div>
    </header>

    <div class="product-grid">
      {% if section.product_type == 'related' %}
        {% for product in recommendation.products limit: section.settings.product_limit %}
          {% include 'product-card',
            show_show_product_description: section.settings.show_description,
            button_label: section.settings.button_label,
            button_class: section.settings.button_class,
            button_style: section.settings.button_style,
            card_width: section.settings.card_width
          %}
        {% endfor %}
      {% elsif section.product_type == 'complementary' %}
        {% for product in recommendation.products limit: section.settings.product_limit %}
          {% include 'product-card',
            show_show_product_description: section.show_description,
            button_label: section.settings.button_label,
            button_class: section.settings.button_class,
            button_style: section.settings.button_style,
            card_width: section.settings.card_width
          %}
        {% endfor %}
      {% else %}
        {% for product in main_collection.products limit: section.settings.product_limit %}
          {% include 'product-card',
            show_show_product_description: section.settings.show_description,
            button_label: section.settings.button_label,
            button_class: section.settings.button_class,
            button_style: section.settings.button_style,
            card_width: section.settings.card_width
          %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endif %}

<style>
  #{{ section_name }}-header h2 {
    font-size: calc(var(--text-basic)*({{ section.settings.header_font_size }} / 10));
  }
</style>
{% schema %}
{
  "name": "Product recommendation",
  "class": "product-recommendation-section",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_section",
      "label": "Show Recommended Products Section",
      "default": true
    },
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Product Recommendations"
    },
    {
      "type": "range",
      "id": "header_font_size",
      "label": "Header Title Size",
      "info": "multiplies the size of base text size by the value divided by 10 [base size * (value / 10)]",
      "default":30,
      "min": 5,
      "max": 50,
      "step": 1
    },
    {
      "type": "richtext",
      "id": "header_copy",
      "label": "Header Copy",
      "default": "<p>Similar Products</p>"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "standard",
      "options": [
        {
          "value": "half",
          "label": "Half"
        },
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_similar_products",
      "label": "Show Similar Products",
      "default": true
    },
    {
      "type": "radio",
      "id": "product_type",
      "label": "Product Type",
      "options": [
        {
          "value": "complementary",
          "label": "Complementary Products"
        },
        {
          "value": "related",
          "label": "Related Products"
        },
        {
          "value": "collection",
          "label": "Collection"
        }
      ],
      "default": "complementary"
    },
    {
      "type": "header",
      "content": "Product Card",
      "info": "Save the page to reload the cards, sometimes you might need to reload the page, for changes to appear."
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "select",
      "id": "button_class",
      "label": "Button Class",
      "options": [
        {
          "value": "btn",
          "label": "Default Button"
        },
        {
          "value": "btn-primary",
          "label": "Primary Button"
        },
        {
          "value": "btn-secondary",
          "label": "Secondary Button"
        }
      ]
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button Style",
      "options": [
        {
          "value": "btn--small",
          "label": "Small Button"
        },
        {
          "value": "btn--large",
          "label": "Large Button"
        }
      ]
    },
    {
      "type": "range",
      "id": "card_width",
      "label": "Card Width",
      "min": 100,
      "max": 360,
      "step": 20,
      "default": 260
    },
    {
      "type": "checkbox",
      "id": "show-product-image",
      "label": "Show Product Image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show Product Title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "Show Product Price",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show Product Description",
      "default": false
    },
    {
      "type": "range",
      "id": "product_limit",
      "label": "Product Limit",
      "min": 1,
      "max": 8,
      "step": 1,
      "default": 4
    }
  ],
  "presets": [
    {
      "name": "Product recommendation"
    }
  ]
}
{% endschema %}

{% javascript %}
  const handleIntersection = (entries, observer) => {
    if (!entries[0].isIntersecting) return;
    observer.unobserve(productrecommendationSection);
    const url = productrecommendationSection.dataset.url;
    fetch(url)
      .then(response => response.text())
      .then(text => {
        const html = document.createElement('div');
        html.innerHTML = text;
        const recommendation = html.querySelector('.product-recommendation');
        if (recommendation && recommendation.innerHTML.trim().length) {
          productrecommendationSection.innerHTML = recommendation.innerHTML;
        }
      })
      .catch(e => {
        console.error(e);
      });
  };
  const productrecommendationSection = document.querySelector('.product-recommendation');
  const observer = new IntersectionObserver(handleIntersection, {rootMargin: '0px 0px 200px 0px'});
  observer.observe(productrecommendationSection);
{% endjavascript %}
